<!DOCTYPE html>
<html>
    {% autoescape true %}
<head>
    <title>GIS Code Challenge - Extracting Bus <stops></stops></title>
    <meta name="keywords" content="GIS CODE CHALLENGE">
    <meta name="description" content="GIS Code Challenge.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
    <link href='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'>
    <link rel="stylesheet" href="http://geojsonlint.com/static/css/app.css">
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/busstops">Door2Door GIS Code Challenge</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="input-output" class="row">
            <div class="col-sm-12 full-height">
                <div id="map-container" class="full-height"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Legend</h3>
        <p>Extracted Bus Stops from Algorithm ({{length_of_extracted_busstops}} out of 380)
            <img src="http://cliparts.co/cliparts/dT4/oLp/dT4oLp7Ec.svg" width="30" height="50"  />
        </p>
        <p> Bus stops from Google Maps (10)
            <img src="http://www.autogari.ro/images/news/9ipRr76iE.png" width="20" height="20"  />
        </p>
    </div>
    <div class="container">
        <h3>Questions?</h3>
        <p>
            Read the <a href="https://github.com/manikanta-kondeti/gis-code-challenge/blob/master/README.md">Github Readme</a> or check out the <a href="https://github.com/manikanta-kondeti/gis-code-challenge">source code</a>.
        </p>
    </div>
    <div id="modal-message" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="modal-message-header">Invalid JSON</h3>
                </div>
                <div class="modal-body">
                    <p id="modal-message-body"></p>
                </div>
                <div class="modal-footer">
                    <a id="modal-message-close" href="#" class="btn btn-default modal-close">Close</a>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src="http://geojsonlint.com/static/js/geojsonhint.js"></script>
    <script src="http://geojsonlint.com/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://geojsonlint.com/static/js/sample-geojson.js"></script>
    <script>
              var map;
          var routes_data = {{ routes_json | safe }};
          var busstops_data = {{ busstops_json | safe }};
          var google_busstops_data = {{ google_busstops_json | safe }};

          var geojsonLayer;
          var myStyle = {
              "color": "#ff7800",
              "weight": 2,
              "opacity": 0.65
          };

          function getGeojsonLayer(image_url, width, height) {
              geojsonLayer = new L.GeoJSON(null, {
                  style: myStyle,
                  pointToLayer: function(feature, latlng) {
                      var smallIcon = L.icon({
                          iconUrl: image_url,
                          iconRetinaUrl: image_url,
                          iconSize: [width, height]
                      });
                      return L.marker(latlng, {
                          icon: smallIcon
                      });
                  },
                  onEachFeature: function(feature, layer) {
                      if (feature.properties) {
                          var popupString = '<div class="popup">';
                          for (var k in feature.properties) {
                              var v = feature.properties[k];
                              popupString += k + ': ' + v + '<br />';
                          }
                          popupString += '</div>';
                          layer.bindPopup(popupString, {
                              maxHeight: 200
                          });
                      }
                  }
              });
              return geojsonLayer;
          }



          $(document).ready(function() {

              L.mapbox.accessToken = 'pk.eyJ1IjoiamNzYW5mb3JkIiwiYSI6InRJMHZPZFUifQ.F4DMGoNgU3r2AWLY0Eni-w';
              map = L.mapbox.map('map-container', 'mapbox.streets')
              map.setView([37.92686, -96.76757], 4);

              geojsonLayer = getGeojsonLayer('http://cliparts.co/cliparts/dT4/oLp/dT4oLp7Ec.svg', 30, 50);
              geojsonLayer.addData(JSON.parse(busstops_data));
              geojsonLayer.addData(JSON.parse(routes_data));
              map.addLayer(geojsonLayer);

              googleGeojsonLayer = getGeojsonLayer('http://www.autogari.ro/images/news/9ipRr76iE.png', 20, 20);
              googleGeojsonLayer.addData(JSON.parse(google_busstops_data))

              map.fitBounds(geojsonLayer.getBounds());

              map.addLayer(googleGeojsonLayer)

          });

    </script>
</body>
</html>
{% endautoescape %}